

    @media (max-width: 768px) {
        /* Select any elements you want to hide on mobile */
        body, html {
          display: none;
        }
        .mobile-warning {
            display: block;
        }
      }

      .mobile-warning {
        position: absolute; /* Ensures the message stays on top of other content */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Centers the message horizontally and vertically */
        text-align: center; /* Aligns text to the center */
        font-size: 1.5rem; /* Adjust font size as needed */
        display: flex; /* Allows aligning icon and text */
        align-items: center; /* Aligns content vertically within the element */
        justify-content: center; /* Aligns content horizontally within the element */
      }
      @media (min-width: 768px) {
        /* Select any elements you want to hide on mobile */
       .mobile-warning {
          display: none;
        }
      }
